#root {
  width: 100%;
  height: 100%;
  background-color: #414141;

}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
  margin-bottom: 20px;
}

.button {
  width: 20%;
  border-radius: 4px;
  background-color: #d35555;
  border: none;
  color: #FFF;
  height: 2.429em;
}

.rw-combobox .rw-widget {
  width: 35%;
}

.rw-combobox {
  height: 34px;
  width: 35%;/* padding: 8px; */
}



.container-fluid {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 1;
  margin: 0;
  padding: 0;
}

.card p {
  font-size: 26px;
}

.card {
  background-color: #dbdbdb;
  padding: 30px;
  
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 50%;
  height: 50%;
}

.footer {
  margin-top: 30px;
}

.footer p {
  font-size: 13px;
}

@media (max-width: 870px) {
  .row {
    flex-direction: column;
  }
  .button {
    width: 100%;
  }
  .rw-combobox .rw-widget {
    width: 100%;
    margin-bottom: 15px;
  }
  .rw-combobox {
    height: 34px;
    width: 100%;/* padding: 8px; */
    margin-bottom: 15px;
  }
}

@media (max-width: 715px) {
  .row {
    width: 80%;
  }
  .card {
    width: 80%;
    height: 80%;
  }
  .container-fluid {
    padding: 10% 0;
  }
}